.artist-item {
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  margin: 2rem 0;
}

.artist-item a {
  text-decoration: none;
  color: #fff;
}

.artist-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.artist-image img {
  opacity: 1;
}

.artist-image img:hover {
  opacity: 0.4;
}
