.album-item .album-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.album-item .album-genres {
  font-size: 1, 25rem;
  color: #f9f9f9;
  text-align: center;
}
.album-item .album-popularity,
.album-item .album-date {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.album-item .album-popularity {
  text-align: left;
}
.album-item .album-date {
  text-align: right;
}
